:root {
  scroll-padding-top: 10vh;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "Noto Sans TC", sans-serif;
}

header {
  width: 100%;
  height: 10vh;
  background: #1e1e1e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

header div.logo {
  color: white;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
  margin-left: 1rem;
  font-weight: 700;
  -webkit-animation: logo 0.5s linear forwards;
          animation: logo 0.5s linear forwards;
}

header .burger {
  display: none;
  margin-right: 1rem;
}

@media screen and (max-width: 590px) {
  header .burger {
    width: 40px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    cursor: pointer;
  }
  header .burger .line {
    display: inline-block;
    width: 100%;
    border-bottom: 4px solid white;
    background: white;
    border-radius: 30px;
  }
  header .burger .line::before {
    content: "";
    border-bottom: 4px solid white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 30px;
  }
  header .burger .line::after {
    content: "";
    border-bottom: 4px solid white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 30px;
  }
}

header nav {
  -webkit-animation: menu 0.5s linear forwards;
          animation: menu 0.5s linear forwards;
}

header nav.changebg {
  background: rgba(30, 30, 30, 0.8);
}

@media screen and (max-width: 590px) {
  header nav {
    position: absolute;
    top: 10vh;
    right: 0;
    width: 250px;
    min-height: 100vh;
    background: #1e1e1e;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-animation: unset;
            animation: unset;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

@media screen and (max-width: 590px) {
  header nav ul {
    display: block;
    margin-right: 0;
    padding: 0 1.5rem;
  }
}

header nav ul li {
  margin: 0 20px;
}

@media screen and (max-width: 590px) {
  header nav ul li {
    margin: 0;
    width: 100%;
    border-bottom: 2px solid white;
  }
}

header nav ul li a {
  color: white;
  font-size: 1.5rem;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

@media screen and (max-width: 590px) {
  header nav ul li a {
    display: block;
    padding: 1rem 0;
    text-align: center;
  }
}

header nav ul li a:hover {
  color: #d5d5d5;
}

@-webkit-keyframes animate {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes animate {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes animatebottom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animatebottom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes itag {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  75% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes itag {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  75% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes logo {
  from {
    opacity: 0;
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes logo {
  from {
    opacity: 0;
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes menu {
  from {
    opacity: 0;
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes menu {
  from {
    opacity: 0;
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes fade {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

body {
  background-color: #1e1e1e;
  overflow-x: hidden;
}

.container .fade {
  margin-top: 10px;
}

.container .fade.animation {
  -webkit-animation: fade 1s linear forwards;
          animation: fade 1s linear forwards;
}

.container section.sec1 {
  height: 90vh;
  width: 100%;
  background: url("../imgs/laptop-ga92bb701c_1920.jpg");
  background-attachment: fixed;
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 590px) {
  .container section.sec1 {
    padding: 10px;
  }
}

.container section.sec1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.34);
  z-index: 1;
}

.container section.sec1 h1 {
  color: white;
  font-size: 5rem;
  z-index: 2;
  letter-spacing: 10px;
  -webkit-animation: animate 1s linear forwards;
          animation: animate 1s linear forwards;
  position: relative;
}

@media screen and (max-width: 590px) {
  .container section.sec1 h1 {
    word-break: break-all;
    font-size: 2.8rem;
  }
}

.container section.sec1 h1:nth-child(2)::before {
  content: "";
  position: absolute;
  border-bottom: 3px solid white;
  bottom: -1rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 20%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: animatebottom 0.5s 1s linear forwards;
          animation: animatebottom 0.5s 1s linear forwards;
}

.container section.sec2 {
  padding: 10px;
  min-height: 40vh;
  background: linear-gradient(45deg, #ffffff, white);
  color: #1e1e1e;
}

.container section.sec2 h1 {
  font-size: 3rem;
  letter-spacing: 5px;
  font-weight: 600;
  text-align: center;
  padding-top: 1rem;
}

@media screen and (max-width: 590px) {
  .container section.sec2 h1 {
    font-size: 2rem;
  }
}

.container section.sec2 p {
  text-align: center;
  line-height: 2.5rem;
  font-size: 1.5rem;
  margin-top: 3rem;
}

@media screen and (max-width: 590px) {
  .container section.sec2 p {
    font-size: 1.5rem;
  }
}

.container section.sec3 {
  min-height: 40vh;
  padding: 10px;
  background: linear-gradient(-45deg, #434343, #575757);
}

.container section.sec3 h1 {
  color: white;
  font-size: 3rem;
  letter-spacing: 5px;
  font-weight: 600;
  text-align: center;
  padding-top: 1rem;
}

@media screen and (max-width: 590px) {
  .container section.sec3 h1 {
    font-size: 2rem;
  }
}

.container section.sec3 div.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 6rem;
  padding-bottom: 1rem;
  min-height: 50vh;
  color: white;
}

@media screen and (max-width: 1040px) {
  .container section.sec3 div.content {
    margin-top: 1rem;
  }
}

.container section.sec3 div.content section {
  border-right: 5px solid #c23e54;
  position: relative;
  height: 150px;
}

@media screen and (max-width: 1040px) {
  .container section.sec3 div.content section {
    visibility: hidden;
    height: 100%;
  }
}

.container section.sec3 div.content section::before {
  content: "";
  border-bottom: 5px solid #c23e54;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100px;
}

@media screen and (max-width: 1040px) {
  .container section.sec3 div.content section::before {
    display: none;
  }
}

.container section.sec3 div.content section:nth-child(2)::before {
  content: "";
  border-bottom: 5px solid #1eb979;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100px;
}

.container section.sec3 div.content section .circle {
  width: 40px;
  height: 40px;
  background-color: #c23e54;
  border-radius: 50%;
  right: -20px;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}

@media screen and (max-width: 1040px) {
  .container section.sec3 div.content section .circle {
    display: none;
  }
}

.container section.sec3 div.content section:nth-child(2) .circle {
  background-color: #1eb979;
}

.container section.sec3 div.content section .content2 {
  width: 400px;
  word-break: break-all;
  position: absolute;
  top: 50%;
  right: 100px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #810018;
  border-radius: 1rem;
  border: 5px solid #c23e54;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 0;
}

@media screen and (max-width: 1040px) {
  .container section.sec3 div.content section .content2 {
    position: unset;
    -webkit-transform: unset;
            transform: unset;
    margin: 2rem 0;
    visibility: visible;
  }
}

@media screen and (max-width: 400px) {
  .container section.sec3 div.content section .content2 {
    width: 300px;
  }
}

.container section.sec3 div.content section .content2 h3 {
  font-size: 2rem;
  text-align: center;
}

.container section.sec3 div.content section .content2 ul {
  padding: 0 1rem;
  list-style: disc;
  max-height: 100%;
  font-size: 1.1rem;
}

.container section.sec3 div.content section .content2 ul li {
  margin-top: 5px;
}

.container section.sec3 div.content section:nth-child(2) .content2 {
  width: 400px;
  left: 100px;
  background-color: #007947;
  border: 5px solid #1eb979;
}

@media screen and (max-width: 400px) {
  .container section.sec3 div.content section:nth-child(2) .content2 {
    width: 300px;
  }
}

.container section.sec4 {
  padding: 10px;
  background: url("../imgs/desk-g97b0ca318_1920.jpg");
  background-attachment: fixed;
  background-position: 0px 300px;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}

.container section.sec4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.34);
  z-index: -1;
}

.container section.sec4 h1 {
  color: white;
  font-size: 3rem;
  letter-spacing: 5px;
  font-weight: 600;
  text-align: center;
  padding-top: 1rem;
}

.container section.sec4 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}

@media screen and (max-width: 590px) {
  .container section.sec4 .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container section.sec4 .content div.left, .container section.sec4 .content div.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem;
}

.container section.sec4 .content div.left img, .container section.sec4 .content div.right img {
  width: 15vw;
  border-radius: 50%;
  border: 3px solid white;
}

@media screen and (max-width: 590px) {
  .container section.sec4 .content div.left img, .container section.sec4 .content div.right img {
    width: 40vw;
  }
}

.container section.sec4 .content div.left p, .container section.sec4 .content div.right p {
  color: white;
  font-size: 3rem;
}

.container section.sec4 .content div.right {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  margin: unset;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.container section.sec4 .content div.right .email,
.container section.sec4 .content div.right .phone {
  color: white;
  font-size: 1.5rem;
  letter-spacing: 3px;
  margin: 10px 0;
}

@media screen and (max-width: 485px) {
  .container section.sec4 .content div.right .email,
  .container section.sec4 .content div.right .phone {
    font-size: 1.3rem;
  }
}

.container section.sec4 .content div.right .other {
  margin: 10px 0;
}

@media screen and (max-width: 590px) {
  .container section.sec4 .content div.right .other {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.container section.sec4 .content div.right .other a {
  margin: 10px;
}

.container section.sec4 .content div.right .other a:first-child {
  margin-left: 0;
}

.container section.sec4 .content div.right .other a:nth-child(1):hover i {
  color: #5cd65c;
  background: white;
}

.container section.sec4 .content div.right .other a:nth-child(2):hover i {
  background: white;
  color: black;
}

.container section.sec4 .content div.right .other a:nth-child(3):hover i {
  color: white;
  background: linear-gradient(43deg, orange, red, purple);
}

.container section.sec4 .content div.right .other a i {
  width: 50px;
  height: 50px;
  background: black;
  color: white;
  text-align: center;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 50px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.container .work {
  padding-bottom: 30px;
  padding: 10px;
  background: white;
  color: #1e1e1e;
}

@media screen and (max-width: 1440px) {
  .container .work {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container .work h1 {
  font-size: 3rem;
  letter-spacing: 5px;
  font-weight: 600;
  text-align: center;
  padding-top: 1rem;
}

.container .work .work-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1440px) {
  .container .work .work-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1440px) {
  .container .work .work-content .svg svg {
    width: 100%;
    height: 500px;
  }
}

.container .work .work-content a {
  background: #a87634;
  color: white;
  padding: 10px 15px;
  font-size: 2rem;
  margin-left: 3rem;
  border-radius: 10px;
}

@media screen and (max-width: 1440px) {
  .container .work .work-content a {
    margin-bottom: 3rem;
    margin-left: 0rem;
  }
}

.container .work .work-content a:hover i {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation: itag 0.3s linear;
          animation: itag 0.3s linear;
}

footer span {
  display: block;
  text-align: center;
  padding: 20px 0;
  color: white;
}
/*# sourceMappingURL=style.css.map */