:root {
  scroll-padding-top: 10vh;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Noto Sans TC", sans-serif;
}
@import "header";
@import "animate";
@import "mixin";
body {
  background-color: rgb(30, 30, 30);
  overflow-x: hidden;
}
.container {
  .fade {
    margin-top: 10px;
  }
  .fade.animation {
    animation: fade 1s linear forwards;
  }

  section.sec1 {
    height: 90vh;
    width: 100%;
    background: url("../imgs/laptop-ga92bb701c_1920.jpg");
    background-attachment: fixed;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include phone(590px) {
      padding: 10px;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.34);
      z-index: 1;
    }
    h1 {
      color: white;
      font-size: 5rem;
      z-index: 2;
      letter-spacing: 10px;
      animation: animate 1s linear forwards;
      position: relative;
      @include phone(590px) {
        word-break: break-all;
        font-size: 2.8rem;
      }
      &:nth-child(2)::before {
        content: "";
        position: absolute;
        border-bottom: 3px solid white;
        bottom: -1rem;
        left: 0;
        right: 0;
        margin: auto;
        width: 20%;
        transform: scale(0);
        animation: animatebottom 0.5s 1s linear forwards;
      }
    }
  }

  section.sec2 {
    padding: 10px;
    min-height: 40vh;
    background: linear-gradient(45deg, #ffffff, white);
    color: rgb(30, 30, 30);
    h1 {
      font-size: 3rem;
      letter-spacing: 5px;
      font-weight: 600;
      text-align: center;
      padding-top: 1rem;
      @include phone(590px) {
        font-size: 2rem;
      }
    }
    p {
      text-align: center;
      line-height: 2.5rem;
      font-size: 1.5rem;
      margin-top: 3rem;
      @include phone(590px) {
        font-size: 1.5rem;
      }
    }
  }

  section.sec3 {
    min-height: 40vh;
    padding: 10px;
    background: linear-gradient(-45deg, #434343, #575757);
    h1 {
      color: white;
      font-size: 3rem;
      letter-spacing: 5px;
      font-weight: 600;
      text-align: center;
      padding-top: 1rem;
      @include phone(590px) {
        font-size: 2rem;
      }
    }
    div.content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 6rem;
      padding-bottom: 1rem;
      min-height: 50vh;
      color: white;
      @include pad(1040px) {
        margin-top: 1rem;
      }
      section {
        border-right: 5px solid rgb(194, 62, 84);
        position: relative;
        height: 150px;
        @include pad(1040px) {
          visibility: hidden;
          height: 100%;
        }
        &::before {
          content: "";
          border-bottom: 5px solid rgb(194, 62, 84);
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: 100px;
          @include pad(1040px) {
            display: none;
          }
        }
        &:nth-child(2)::before {
          content: "";
          border-bottom: 5px solid rgb(30, 185, 121);
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 100px;
        }

        .circle {
          width: 40px;
          height: 40px;
          background-color: rgb(194, 62, 84);
          border-radius: 50%;
          right: -20px;
          top: 0;
          bottom: 0;
          margin: auto;
          position: absolute;
          @include pad(1040px) {
            display: none;
          }
        }
        &:nth-child(2) .circle {
          background-color: rgb(30, 185, 121);
        }

        .content2 {
          width: 400px;
          word-break: break-all;
          position: absolute;
          top: 50%;
          right: 100px;
          transform: translateY(-50%);
          background-color: rgb(129, 0, 24);
          border-radius: 1rem;
          border: 5px solid rgb(194, 62, 84);
          display: flex;
          flex-direction: column;
          padding: 1rem 0;
          @include pad(1040px) {
            position: unset;
            transform: unset;
            margin: 2rem 0;
            visibility: visible;
          }
          @include phone(400px) {
            width: 300px;
          }
          h3 {
            font-size: 2rem;
            text-align: center;
          }
          ul {
            padding: 0 1rem;
            list-style: disc;
            max-height: 100%;
            font-size: 1.1rem;
            li {
              margin-top: 5px;
            }
          }
        }
        &:nth-child(2) .content2 {
          width: 400px;
          left: 100px;
          background-color: rgb(0, 121, 71);
          border: 5px solid rgb(30, 185, 121);
          @include phone(400px) {
            width: 300px;
          }
        }
      }
      // div.left {
      //   display: flex;
      //   flex-direction: column;
      //   align-items: center;
      //   flex: 1 1 400px;
      //   max-width: 600px;
      //   i {
      //     width: 6vw;
      //     height: 6vw;
      //     background: white;
      //     border-radius: 50%;
      //     text-align: center;
      //     color: rgb(30, 30, 30);
      //     line-height: 6vw;
      //     font-size: 3rem;
      //     margin-bottom: 1rem;
      //     @include pad(1120px) {
      //       width: 150px;
      //       height: 150px;
      //       line-height: 150px;
      //       font-size: 4rem;
      //     }
      //     @include phone(590px) {
      //       width: 20vw;
      //       height: 20vw;
      //       font-size: 3rem;
      //       line-height: 20vw;
      //       margin-top: 1rem;
      //     }
      //     @include phone(440px) {
      //       font-size: 2.5rem;
      //     }
      //   }
      //   span {
      //     color: white;
      //     font-size: 1.5rem;
      //     margin: 5px 0;
      //     @include phone(390px) {
      //       font-size: 1.3rem;
      //     }
      //   }
      // }
      // div.right {
      //   @extend div.left;
      // }
    }
  }

  section.sec4 {
    padding: 10px;
    background: url("../imgs/desk-g97b0ca318_1920.jpg");
    background-attachment: fixed;
    background-position: 0px 300px;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.34);
      z-index: -1;
    }
    h1 {
      color: white;
      font-size: 3rem;
      letter-spacing: 5px;
      font-weight: 600;
      text-align: center;
      padding-top: 1rem;
    }
    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5rem;
      @include phone(590px) {
        flex-direction: column;
      }
      div.left {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 2rem;
        img {
          width: 15vw;
          border-radius: 50%;
          border: 3px solid white;
          @include phone(590px) {
            width: 40vw;
          }
        }
        p {
          color: white;
          font-size: 3rem;
        }
      }
      div.right {
        @extend div.left;
        justify-content: flex-start;
        align-items: unset;
        margin: unset;
        flex-wrap: nowrap;
        .email,
        .phone {
          color: white;
          font-size: 1.5rem;
          letter-spacing: 3px;
          margin: 10px 0;
          @include phone(485px) {
            font-size: 1.3rem;
          }
        }
        .other {
          margin: 10px 0;
          @include phone(590px) {
            display: flex;
            justify-content: center;
          }
          a {
            margin: 10px;

            &:first-child {
              margin-left: 0;
            }
            &:nth-child(1):hover i {
              color: rgb(92, 214, 92);
              background: white;
            }
            &:nth-child(2):hover i {
              background: white;
              color: black;
            }
            &:nth-child(3):hover i {
              color: white;
              background: linear-gradient(43deg, orange, red, purple);
            }
            i {
              width: 50px;
              height: 50px;
              background: black;
              color: white;
              text-align: center;
              font-size: 2rem;
              border-radius: 50%;
              line-height: 50px;
              transition: all 0.2s linear;
            }
          }
        }
      }
    }
  }
  .work {
    padding-bottom: 30px;
    padding: 10px;
    background: white;
    color: rgb(30, 30, 30);
    @include pad(1440px) {
      flex-direction: column;
    }
    h1 {
      font-size: 3rem;
      letter-spacing: 5px;
      font-weight: 600;
      text-align: center;
      padding-top: 1rem;
    }
    .work-content {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      @include pad(1440px) {
        flex-direction: column;
      }
      .svg {
        svg {
          @include pad(1440px) {
            width: 100%;
            height: 500px;
          }
        }
      }
      a {
        background: #a87634;
        color: white;
        padding: 10px 15px;
        font-size: 2rem;
        margin-left: 3rem;
        border-radius: 10px;
        @include pad(1440px) {
          margin-bottom: 3rem;
          margin-left: 0rem;
        }

        &:hover i {
          transform-origin: center center;
          animation: itag 0.3s linear;
        }
      }
    }
  }
}
footer {
  span {
    display: block;
    text-align: center;
    padding: 20px 0;
    color: white;
  }
}
